
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'jury.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'jury.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'jury.ref' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'jury.ref' | translate}}" autofocus  id="1" [ngModel]="item.ref">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'jury.nombreMembres' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="2" [disabled]="true" placeholder="{{'jury.nombreMembres' | translate}}" [ngModel]="item.nombreMembres"></p-inputNumber>
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-flexbox">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



